.header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.logo {
    display: flex;
    align-items: flex-end;
    padding-left: 15px;
    top: 5%;
    text-decoration: underline;
}

.logo button {
    font-size: 25px;
    font-family: veganStyle;
    padding: 10px 10px 0 10px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    padding: 40px 15px 0 0;
}

.buttons .activeRoute {
    color: #fbe6e6 !important;
    background-color: black;
}

.buttons button {
    width: 8vw;
    height: 5vh;
    border-radius: 20px;
    background: transparent;
    border-color: white;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.buttons button:hover {
   color: rgb(35, 222, 255);
   border-color: rgb(35, 222, 255);
}

.buttons button.social {
    width: 0vw;
}

.buttons button:not(:last-child) {
    margin-right: 10px;
}

.fa-instagram:before,
.fa-linkedin:before {
    font-size: 25px;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 1180px)  {
    .banner {
        background-size: cover;
    }
}

@media only screen and (max-width: 1150px)  {
    .buttons button {
        width: 10vw;
    }
}

@media only screen and (max-width: 880px)  {
    .buttons button {
        width: 12vw;
    }
}

@media only screen and (max-width: 700px)  {
    .logo {
        position: absolute;
        top: 4%;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 7%;
        transform: translate(-5%, -50%);
        z-index: 2;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
    }

    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }

    .displayDropdown {
        transform: translateY(0%) !important;
    }

    .hideDropdown {
        transform: translateY(-100%) !important;
    }

    .addTransitionSpeed {
        transition: 0.5s;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        background-color: rgb(255 255 255 / 10%);
        backdrop-filter: blur(30px);
        padding-top: 60px;
        padding-right: 0;
        height: 50vh;
        transform: translateY(-100%);
    }

    .buttons button {
        width: 100% !important;
        border-radius: 0;
        font-size: 20px;
        border: 0px !important;
    }

    .buttons button:hover {
        color: white;
    }
}