.container {
    min-height: 100vh;
    height: auto;
    background-color: #fce6e7;
}

img {
    max-height: 100%;
    min-width: 100%;
    object-fit: contain;
    vertical-align: bottom;
    opacity: 1;
}

img:hover,
.overlay:hover {
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}

.galleryWall {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 40px 20px 20px 20px;
    background-color: #fce6e7;
}

.imageCard {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 80vh;
}

a {
    position: relative;
    height: 100%;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 1rem);
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    padding-bottom: 1rem;
}

.overlay p {
    font-size: 2em;
    color: white;
    padding-top: 1rem;
    text-align: center;
}

a:hover .overlay {
    opacity: 0.7;
}

a:hover img {
    opacity: 0.4;
}

a:not(:last-child) {
    padding-bottom: 1rem;
}

img,
.overlay {
    border-radius: 10px;
}

a[href*="youtube"] {
    height: 50vh;
}

.fade-in {
	-webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-5-26 1:40:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
  

@media (max-aspect-ratio: 1/1) {
    .imageCard {
      height: 50vh;
    }

    img {
        object-fit: cover;
    }
}

@media (max-height: 480px) {
    .imageCard {
      height: 80vh;
    }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul {
      flex-direction: row;
    }
  
    li {
      height: auto;
      width: 100%;
    }
  
    img {
      width: 95%;
      height: 100%;
      min-width: 0;
    }

    .overlay {
        width: 95%;
        left: 2.5%;
    }

    .galleryWall {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 870px) {
    a[href*="youtube"] {
        height: 30vh;
    }

    a[href*="youtube"] img {
        object-fit: cover;
    }
}

