.container {
    min-height: 100vh;
    height: auto;
    background-color: #fce6e7;
    overflow: hidden;
}

.innerContainer {
    display: flex;
    height: 90vh;
    position: relative;
}

button { 
    background: none;
    border: none;
}

/* button:hover {
    color: black;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transition: font-size 0.1s ease-out;
} */

.traditionalButton,
.digitalButton {
    position: absolute;
    font-size: 5em;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}

.traditionalButton {
    top: 15vh;
    left: 10vw;
}

.digitalButton {
    right: 10vw;
    bottom: 15vh;
}

#traditionalLine {
    width: 0vw;
    height: 7px;
    position: absolute;
    background-color: black;
    top: 29vh;
    left: 10vw;
    transition: width 0.8s ease;
}

#digitalLine {
    width: 0vw;
    height: 7px;
    position: absolute;
    background-color: black;
    right: 10vw;
    bottom: 15vh;
    transition: width 0.8s ease;
}

@media only screen and (max-width: 700px) {
    .traditionalButton,
    .digitalButton {
        font-size: 4em;
    }

    #traditionalLine {
        top: 27vh;
    }

    #digitalLine {
        bottom: 14vh;
    }
}

@media only screen and (max-width: 500px) {
    .traditionalButton,
    .digitalButton {
        font-size: 3em;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    .traditionalButton,
    .digitalButton {
        font-size: 2.5em;
    }
}



@media only screen and (min-width: 500px) {
    .digitalButton:hover ~ #digitalLine {
        width: 80vw;
    }

    .traditionalButton:hover ~ #traditionalLine {
        width: 80vw;
    }
}