<div class="container">
    <app-header></app-header>
    <div class="innerContainer">
        <p class="title">Getting to Know Me a Little Bit Better!</p>
        <div class="imageDiv fade-in-top">
            <img class="LynnPic" src="../../../assets/images/picture_of_lynn.jpg" alt="">
            <div class="hiddenText">
                <p>Hello! Currently a Digital Media Undergraduate Student at UMD College Park, I strive to continuously develop my artistic vision, whether it be on paper or laptop. The goal: to make it into the art industry.</p>
            </div>
        </div>  
        <div class="aboutDescription">
            <p>Once a person in the medical field, I decided to follow my passion for art and went towards my Bachelor's in Digital Media. 
                Life is too short and seeing an opportunity to educate myself as an artist, I took it.
                While pursuing a Bachelor's, I spend my time outside of academia taking inspiration from the world around me. 
                Examples include visiting art museums, watching tv shows, and building DIY miniature housekits.
                Hayao Miyazaki (renowned co-founder/director of Studio Ghibli Inc.) would be listed as my top artistic inspiration, being a big fan of the Studio Ghibli films.</p>
        </div>
        <div class="mediumSection">
            <p class="title">Art Mediums I Have Dabbled In</p>
            <p>Acrylic Paint • Charcoal • Oil Paint • Paper Craft • Aluminum Cans • Soap • Maya • Premiere Pro • Photoshop</p>
            <p class="disclaimer">Note: To see these mediums in practice, please visit the <a routerLink="/gallery">gallery!</a></p>
        </div>
    </div>
</div>
