<div class="container">
    <app-header></app-header>
    <div class="innerContainer">
        <p class="title">Getting to Know Me a Little Bit Better!</p>
        <div class="imageDiv fade-in-top">
            <img class="LynnPic" src="../../../assets/images/picture_of_lynn.jpg" alt="">
            <div class="hiddenText">
                <p>Hello! Currently a Digital Media Undergraduate Student at UMD College Park, I strive to continuously develop my artistic vision, whether it be on paper or laptop.</p>
            </div>
        </div>  
        <div class="aboutDescription">
            <p>Once a person in the medical field, I decided to follow my passion for art and went towards my Bachelor's in Digital Media. 
                Life is too short and seeing an opportunity to educate myself as an artist, I took it.
                While pursuing a Bachelor's, I spend my time outside of academia taking inspiration from the world around me. 
                Examples include visiting art museums, watching tv shows, and building DIY miniature housekits.</p>
        </div>
        <div class="mediumSection">
            <p>Art Mediums I Dabble In</p>
            <p>Acrylic Paint, Charcoal, Oil Paint</p>
            <p>Maya</p>
        </div>
    </div>
</div>
