<div class="container">
    <app-header></app-header>
    <div class="innerContainer">
        <div class="content">
            <div class="p1">
                <h1>Who I Am</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, modi sit eaque delectus quibusdam rem, neque sed architecto, laborum sint a eveniet! Doloribus repellendus necessitatibus cupiditate quaerat dolore beatae asperiores?</p>
            </div>
            <div class="p2">
                What I Do
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, modi sit eaque delectus quibusdam rem, neque sed architecto, laborum sint a eveniet! Doloribus repellendus necessitatibus cupiditate quaerat dolore beatae asperiores?</p>
            </div>
            <div class="p3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, modi sit eaque delectus quibusdam rem, neque sed architecto, laborum sint a eveniet! Doloribus repellendus necessitatibus cupiditate quaerat dolore beatae asperiores?</p>
            </div>
        </div>
    </div>
</div>
