.banner {
    height: 100vh;
    background-image:url('../../../assets/images/home-page-image-copy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'PT Serif', serif; */

.name {
    position: absolute;
    font-size: 75px;
    font-family: 'veganStyle', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
    color: white;
    width: 100%;
    text-align: center;
}

.subtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: 'Poppins', serif;
    color: white;
    width: 100%;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.buttons button {
    width: 8vw;
    height: 5vh;
    border-radius: 20px;
    background: transparent;
    border-color: white;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.buttons button:hover {
   color: rgb(35, 222, 255);
   border-color: rgb(35, 222, 255);
}

.buttons button.social {
    width: 0vw;
}

.buttons button:not(:last-child) {
    margin-right: 10px;
}

.fa-instagram:before,
.fa-linkedin:before {
    font-size: 25px;
}

@media only screen and (max-width: 1180px)  {
    .banner {
        background-size: cover;
    }
}

@media only screen and (max-width: 1150px)  {
    .buttons button {
        width: 10vw;
    }
}

@media only screen and (max-width: 880px)  {
    .buttons button {
        width: 12vw;
    }

    .name {
        font-size: 50px;
        transform: translate(-50%, -400%);
    }

    .subtext {
        font-size: 16px;
        transform: translate(-50%, -250%);
    }
}

@media only screen and (max-width: 700px)  {
    .displayDropdown {
        transform: translateY(0%) !important;
    }

    .hideDropdown {
        transform: translateY(-100%) !important;
    }

    .addTransitionSpeed {
        transition: 0.5s;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        background-color: rgba(255, 255, 255, .15);  
        backdrop-filter: blur(30px);
        padding-top: 60px;
        height: 50%;
        transform: translateY(-100%);
    }

    .buttons button {
        border: none;
        width: 100% !important;
        border-radius: 0;
        font-size: 20px;
    }

    /* .buttons button:not(:last-child) {
        margin-bottom: 10px;
    } */

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 7%;
        transform: translate(-5%, -50%);
        z-index: 2;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
    }

    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
}

@media only screen and (max-width: 1180px)  {
    .banner {
        background-size: cover;
    }
}

@media only screen and (max-width: 1150px)  {
    .buttons button {
        width: 10vw;
    }
}

@media only screen and (max-width: 880px)  {
    .buttons button {
        width: 12vw;
    }

    .name {
        font-size: 50px;
        transform: translate(-50%, -400%);
    }

    .subtext {
        font-size: 16px;
        transform: translate(-50%, -250%);
    }
}