.banner {
    height: 100vh;
    background-image:url('../../../assets/images/home-page-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 35vh;
  width: 90vw;
  position: absolute; 
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
    font-size: 4.5em;
    font-family: 'veganStyle', sans-serif;
    color: white;
    width: 100%;
    text-align: center;
}

.subtext {
    font-size: 1.3em;
    font-family: 'Poppins', serif;
    color: white;
    width: 100%;
    text-align: center;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.3s both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.3s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-5-26 13:49:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
  
  
@media only screen and (max-width: 700px)  {
    .name {
        font-size: 2.5em;
    }

    .subtext {
        font-size: 1em;
    }
}

@media only screen and (max-height: 550px) {
  .name {
    font-size: 2em;
  }
}