<div class="banner">
    <p class="name">Lynn Nguyen</p>
    <p class="subtext">Painter. Digital Artist. Animator.</p>
    <div class="buttons">
        <button mat-stroked-button>About</button>
        <button mat-stroked-button>Gallery</button>
        <button mat-stroked-button>Contact</button>
        <button class="social" mat-stroked-button><i class="fab fa-instagram"></i></button>
        <button class="social" mat-stroked-button><i class="fab fa-linkedin"></i></button>
    </div>
</div>
