.banner {
    height: 100vh;
    background-image:url('../../../assets/images/home-page-image-copy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'PT Serif', serif; */

.name {
    position: absolute;
    font-size: 75px;
    font-family: 'veganStyle', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
    color: white;
    width: 100%;
    text-align: center;
}

.subtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: 'Poppins', serif;
    color: white;
    width: 100%;
    text-align: center;
}