.filterCategories {
    height: 10vh;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.filterCategories button {
    margin-left: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color: black;
    background-color: rgb(219, 217, 217);
    border: 2px solid black;
}

button {
    font-family: 'Poppins';
    font-weight: bold;
    width: 120px;
    height: 65px;
}

@media only screen and (max-width: 700px) {
    .filterCategories {
        flex-direction: column;
        position: absolute;
        height: auto;
        padding-top: 5vh;
        padding-bottom: 5vh;
        width: 30vw;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        z-index: 500;
        background-color: #fbe6e6;
        justify-content: center;
        top: 0;
        border-bottom-right-radius: 25px;
        margin-top: 0;
        transform: translateX(-120%);
    }

    .filterCategories button {
        margin-left: 0;
    }

    .filterCategories button:not(:first-child) {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .filterCategories {
        width: 50vw;
    }
}