* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body { 
    height: 100%;
}

/* font from: https://www.cssigniter.com/20-best-cursive-fonts-to-download-for-free/ */
@font-face {
    font-family: veganStyle;
    src: url("../src/assets/fonts/VeganStylePersonalUse-5Y58.ttf");
  }
