<div class="header">
    <button mat-button class="filterPanel" (click)="toggleFilterPanel()" *ngIf="isGallery">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </button>
    <div class="logo" >
        <button mat-button *ngIf="!isHomePage" routerLink="/home-page">Lynn Nguyen</button>
    </div>
    <button mat-button class="hamburger"(click)="toggleHamburger(dropdownMenu)">
        <div #line1 class="line"></div>
        <div #line2 class="line"></div>
        <div #line3 class="line"></div>
    </button>
    <div #dropdownMenu class="buttons">
        <button mat-stroked-button routerLink="/about" routerLinkActive="activeRoute">About</button>
        <button mat-stroked-button routerLink="/gallery" routerLinkActive="activeRoute">Gallery</button>
        <button mat-stroked-button routerLink="/contact" routerLinkActive="activeRoute">Contact</button>
        <button onclick="window.open('//www.instagram.com/l7nne4rth/', '_blank')"class="social" mat-stroked-button><i class="fab fa-instagram"></i></button>
        <button onclick="window.open('//www.linkedin.com/in/lynnnguyenLP', '_blank')" type="button" class="social" mat-stroked-button><i class="fab fa-linkedin"></i></button>
    </div>
</div>
